processes:
  enclave:
    description: The Enclave Application
    command: go run ./enclave/main.go
    ready_log_line: "waiting to receive"
  proxy:
    description: The proxy Application
    command: go run ./proxy/main.go
    ready_log_line: "proxy server started"
  nonclave:
    description: The Non-Enclave Application
    command: go run ./nonclave/main.go
    depends_on:
      enclave:
        condition: process_log_ready
      proxy:
        condition: process_log_ready
    availability:
      exit_on_end: true
