name: On Schedule

on:
  workflow_dispatch:
  schedule:
    - cron: '0 5 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  stop-ec2s:
    name: Terminate EC2 Instances
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          role-to-assume: arn:aws:iam::480429191343:role/GitHub_Actions_Bearclave
          aws-region: us-east-2

      - name: Stop Running EC2 Instances
        run: |
          INSTANCE_IDS=$(aws ec2 describe-instances \
            --filters "Name=instance-state-name,Values=running" \
            --query 'Reservations[*].Instances[*].InstanceId' \
            --output text)
          
          if [ -z "$INSTANCE_IDS" ]; then
            echo "No running instances found."
          else
            echo "Stopping instances: $INSTANCE_IDS"
            aws ec2 stop-instances --instance-ids $INSTANCE_IDS
            echo "Stop command sent successfully."
          fi
